html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
.used{
	text-decoration: underline;
	color: #FFFFFF;
}
.title{
	color:#2980b9;
	text-decoration: underline;
	font-size:36px;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	-webkit-background-clip: text;
	color: transparent;
}
#container {
	height: 800px;
}
#sidebar {
	positition: relative;
	background-color: #2980b9;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 18%;
	overflow: auto;
}
#sidebar a{
	color: #FFF700;	
}
#content {
	text-align:center;
	position: absolute;
	align:right;
	background-color: #f8f8f8;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 82%;
	overflow: auto;
}
#video_list{
    border: 4px black solid;
    width: 400px;
    height: 100px;
    margin-right: 25%;
    margin-top: 30px;
    overflow: auto;
    white-space: nowrap;
    background-color: white;
}
#video_list iframe{
    margin:5px;
}
.subtitle {
	background-image: linear-gradient(to left, red, blue);
	-webkit-background-clip: text;
	color: transparent;
}


