html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
.used{
	text-decoration: underline;
	color: #FFFFFF;
}
#container {
	height: 800px;
}
#sidebar {
	positition: relative;
	background-color: #2980b9;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 18%;
	overflow: auto;
}
#sidebar a{
	color: #FFF700;	
}
#content {
	text-align:center;
	position: absolute;
	align:right;
	background-color: #f8f8f8;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 82%;
	overflow: auto;
}
#content h1{
	color:#2980b9;
	text-decoration: underline;
}

